body{
	background-color: #222;
	color: honeydew;
}
.navBar{
	width: 30%;
	position: relative;
	top: 20px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 15px;
	display: block;
  color: #818181;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.intro{
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}
.line1,.line2{

	width: 40px;
	height: 3px;
	background-color:steelblue;
}
.line1{

	position: relative;
	top: 34px;
	left: 400px;
}
.line2{
	position: relative;
	left: 990px;
	bottom:30px ;
}
.more{
	display: flex;
	position: relative;
	left: 150px;
}
li{
	color: aliceblue;
}
a{
	color: slateblue;
}
.profile{
	position: relative;
	top: -350px;
	left: 380px;
}


.vl {
	width: 20px;
  border-left: 3px solid steelblue;
  height: 450px;
  position: relative;
	top: 40px;
	left: 350px;
  
}
.text{
	position: relative;
	left: 370px;
	top: -400px;
}

